<div class="construction-banner">
  <span class="construction-banner__label">Website Under Construction</span>
</div>
<header class="site-header">
  <div class="wrap site-header__inner">
    <a class="brand" href="index.html">
      <img class="brand__icon" src="assets/img/favicon.png" alt="">
      <span class="brand__mark">Pinescape</span>
    </a>

    <button class="nav-toggle" aria-expanded="false" aria-controls="site-nav">
      <span></span><span></span><span></span>
      <span class="sr-only">Menu</span>
    </button>

    <nav id="site-nav" class="site-nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="gallery.html" class="coming-soon">Gallery <span class="badge">Soon</span></a></li>
        <li><a href="download.html">Download</a></li>
        <li><a href="customize.html">Customize</a></li>
        <li><a href="tutorial.html">Getting Started</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
    </nav>
  </div>
</header>
